@import "tailwindcss";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  opacity: 0; /* start hidden */
  animation: fadeInUp 0.7s ease forwards;
}
.filter-select {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm 
  focus:outline-none focus:ring-1 focus:ring-black bg-white cursor-pointer;
}
