@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  opacity: 0; /* start hidden */
  animation: fadeInUp 0.7s ease forwards;
}
.filter-select {
  @apply w-full border border-gray-200 rounded-xl px-2 py-2 text-sm 
  focus:outline-none  focus:ring-1 bg-white cursor-pointer;
}

.gallery-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #000;
}

.circle {
  position: relative;
  width: 600px;
  height: 600px;
  transition: transform 0.1s linear;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  text-align: center;
}

.item img {
  width: 140px;
  height: 140px;
  border-radius: 16px;
  object-fit: cover;
}

.item span {
  display: block;
  margin-top: 8px;
  color: white;
  font-size: 14px;
}


.circular-gallery:active {
  cursor: grabbing;
}

@keyframes autoScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-auto {
  animation: autoScroll 25s linear infinite;
}

.loader {

  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:auto;
  position: relative;
  color: #776a5d;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}